<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.mapper.UserMapper">


    <insert id="insertUser" parameterType="com.hu.pojo.User">
        insert into t_user (username,password,age,gender,email)
        values (#{username},#{password},#{age},#{gender},#{email})
    </insert>

<!--    这个User是typeAliases给com.hu.pojo.User起的别名-->
    <select id="selectUser" resultType="usEr">
        SELECT * FROM t_user;
    </select>

<!--    User selectUserByName(String username)-->
    <select id="selectUserByName" resultType="user">
        select * from t_user where username = #{username}
    </select>

<!--     User selectUserByNameAndPassword(String username,String password);-->
    <select id="selectUserByNameAndPassword" resultType="user">
        select * from t_user where username = #{arg0} and password = #{param2}
    </select>
<!--        User selectUserByMap(Map<String,Object> map);-->
    <select id="selectUserByMap" resultType="user">
        select * from t_user where password = #{password} and username = #{username}
    </select>
</mapper>