<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--获取bean的方法 1，构造器获取-->
    <bean id="Userdao" class="com.hu.Spring.Dao.impl.UserDaoImpl"></bean>

<!--2 静态工厂获取-->
    <bean id="UserdaoBystatic" class="com.hu.Spring.Factory.UserDaoStaticFactory" factory-method="getUserDao"></bean>
<!--2 实例工厂-->
    <bean id="UserDaoInstancefactory" class="com.hu.Spring.Factory.UserdaoInstanceFactory"></bean>
    <bean id="UserDaoByInstance" factory-bean="UserDaoInstancefactory"  factory-method="getUserDao"></bean>


<!--    依赖注入  set注入-->
    <bean id="userControl" class="com.hu.Spring.Controller.UserControl">
        <property name="name" value="L"></property>
         <property name="userDao" ref="Userdao">
         </property>
    </bean>

<!--    构造注入 集合类型属性赋值-->
    <bean id="user" class="com.hu.Spring.domain.User">
<!--        <property name="name" value="hu"></property>-->
          <constructor-arg name="name" >
              <list >
                  <value type="java.lang.String" >hu</value>
                  <value type="java.lang.String" >hi</value>
                  <value type="java.lang.String" >hoo</value>
              </list>
          </constructor-arg>
         <constructor-arg index="1" >
           <map>
            <entry >
                <key>
                    <value >"sss"</value>
                </key>
                <value >111</value>
            </entry>
               <entry key="jjj" ><value>111</value></entry>
           </map>
         </constructor-arg>
        <!--
       数组为 <array>
            <value>抽烟</value>
            <value>喝酒</value>
            <value>烫头</value>
        </array>-->

     </bean>

</beans>